body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
.navbar {
    background:linear-gradient(90deg,rgb(127, 59, 188),rgb(163, 48, 167));
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.navbar img{
    border-radius: 50px;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    text-align:center;
    color: rgb(244, 246, 247);
}
.navbar a:hover {
    text-decoration: underline;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    border: 1px solid #ccc;
}
.search-bar input {
    border: none;
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
}
.search-bar button {
    background-color: #2874f0;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
}  
.categories {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    flex-wrap: wrap;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #000;
    margin: 10px;
}
.category img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 8px;
}
.top{
    height: auto;
    align-items: center;

}
.img{
    display: flex;
    align-items: center;
    gap: 100px;
}
.img h3{
    display: flex;
    align-items: center;  
}
.img2{
    display: flex;
    align-items: center;
    gap: 100px;
}
.img1{
    text-decoration: none;
    list-style: none;
}


